*{
    margin: 0 auto;
}
#wrapper{
    width: 1160px;
    height: 180px;
    border: thin solid red;
    position: relative;
    overflow: hidden;
}
.image{
    float: left;
    width: 180px;
    height: 180px;
}
.iconL{
    position: absolute;
    top: 70px;
    left: 20px;
}
.iconR{
    position: absolute;
    top: 70px;
    right: 20px;
}
#bigimg{
    width: 500px;
    height: 450px;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 10px;
    left: 400px;
    z-index: 1000;
    display: none;
}
#bigimg img{
    width: 500px;
    height: 450px;
}